
/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to main element */
.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
}

/* Apply styles to p element with class hello-accio */
.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
